<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>@ViewBag.Title</title>
  @Styles.Render("~/Content/css")
  @Scripts.Render("~/bundles/modernizr")
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,700|Great+Vibes|Open+Sans:400,700|Playfair+Display+SC:400,700' rel='stylesheet' type='text/css'>
  <!--[if gte IE 9]>
    <style type="text/css">
      .gradient {
         filter: none;
      }
    </style>
  <![endif]-->
  @Html.Partial("_GoogleAnalytics")
</head>
<body>
  @RenderBody()

  <footer class="sky">
    <div class="container">
      <img class="island" src="/content/images/island.png" alt="tropical island for Kerr Wedding" />
    </div>
  </footer>

  @Scripts.Render("~/bundles/jquery")
  @RenderSection("scripts", required: false)
</body>
</html>
