<nav>
  <ul>
    <li>@Html.ActionLink("Travel Information","index","travel")</li>
    <li>@Html.ActionLink("Sun Country Vacations Promo Code TPSYLV0928", "index", "travel")</li>
    <li>@Html.ActionLink("About the Resort", "index", "resort")About the Resort</li>
    <li>@Html.ActionLink("Travel Information", "index", "Travel")</li>
    <li>@Html.ActionLink("RSVP", "index", "rsvp")</li>
  </ul>
</nav>